body
{
    margin: 0;
}
.header_container
{
    width: 100%;
    height: 950px;
    min-height: 950px;
    background-color: rgba(0, 0, 0, 0.979);
}
.navMenu_container
{
    width: 100%;
    height: 100px;
    min-height: 100px;
    position: absolute;
 
   
}
.imgLogo
{
    width: 6%;
    height: 95%;
    min-height: 95%;
    position: absolute ;
    top: 2.5%;
    left: 13%;
    
}
.navContainer
{
    width: 70%;
    height: 85%;
    position: absolute;
    top: 2.5%;
    left:28%; 
}