body
{
    margin: 0;
}
.header_container
{
    width: 100%;
    height: 950px;
    min-height: 950px;
    background-color: rgba(0, 0, 0, 0.979);
}
.navMenu_container
{
    width: 100%;
    height: 100px;
    min-height: 100px;
    position: absolute;
 
   
}
.imgLogo
{
    width: 7%;
    max-width: 7%;
    height: 95%;
    min-height: 95%;
    position: absolute ;
    top: 2.5%;
    left: 1.5%;
    
}
.navContainer
{
    width: 60%;
    height: 85%;
    position: absolute;
    top: 2.5%;
    left:35%; 
}
.captionContainer
{
    width: 15%;
    height: 50%;
    position: relative;
    top: 13%;
    left: 8%;

    color: white;
    position: absolute;
    font-size: 2vw;
    padding-left: 1%;
}
.captionSite
{
    color: white;
    position: absolute;
    font-size: 2.2vw;
}